/***********************TAGS******************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif
}
hr{
  margin: 50px auto 50px auto;
  border-style: dotted;
  color: #EAF6F6;
  border-top: 5px;
  width: 10%;
  border-width: 10px;
}

h1{
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  }

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
}

img{
  background-color: #badfdb;
}
/***********************CLASS******************/
.contact-me{
  margin: 30px auto 30px auto;
}
.skill-row{
  width:50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-container{
  background-color: #badfdb;
  padding-top: 30px;
  line-height: 1.5;
}

.middle-container{

}

.bottom-container{

}
.cloud-1{
  position: relative;
  left: 180px;
  padding-bottom: 10px;
}
.cloud-2{
  position: relative;
  bottom: 200px
}
.cloud-3{
  position: relative;
  bottom: 100px
}
.propic{
  margin-top: 20px;
  border-radius:100%;
  height: 200px;
  width:200px;
}
.skillpic1{
  padding: 30px;
  border-radius:100%;
  width:25%;
  float: left;
  background-color: white;
}
.skillpic2{
  border-radius:100%;
  width:25%;
  float: right;
  padding-left: 30px;
  background-color: white;
}
.profile{
  width: 50%;
  margin: 0 auto 0 auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 20px;
}
/***********************ID******************/
